.listado-responsive {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.image-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
}

.image-wrapper img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

.image-button {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.banner {
    background-color: #f5f5f5;
    color: #232f3e;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
}


footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer span{
    color: gray;
}